@import url('https://fonts.googleapis.com/css?family=Prata|Source+Sans+Pro');

/*Default browser font size, leave as 16px*/
html {
	font-size: 16px;
}

/*All body copy*/
body {
	font-size: 1.15em; /*Control master font size here*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #777;
	line-height: 1.6;
	font-weight: 400;
}

/*All headings*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Prata', serif;
	color: #222;
	letter-spacing: .01em;
}

/*Individual headings*/

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.4em;
	margin-bottom: .4em;
}

h3 {
	font-size: 2.2em;
	margin-bottom: .8em;
}

h4 {
	font-size: 1.7em;
	margin-bottom: .8em;
}

h5 {
	font-size: 1.3em;
	margin-bottom: .7em;
}

h6 {
	font-size: 1.1em;
	margin-bottom: -.2em;
	margin-top: 1.4em;
}

/*Paragraph and miscellaneous styles*/

p {
	font-size: 1em;
	margin-bottom: 1.6em;
}

header h1 {
	margin-bottom: 0;
}

header p {
	font-size: 1.2em;
	margin-top: 1em;
}

blockquote {
	border-left: .2em solid #eee;
	margin-left: 1.8em;
	padding-left: 1.4em;
	font-style: italic;
}

strong {
	color: #444;
}

em {
	
}

mark {
	padding: 0 .25em;
	color: #444;
	background: #faf1cd;
}

small {
	font-size: .8em;
}