@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black');

/*Default browser font size, leave as 16px*/
html {
	font-size: 16px;
}

/*All body copy*/
body {
	font-size: 1.05em; /*Control master font size here*/
	font-family: 'Archivo', sans-serif;
	color: #666;
	line-height: 1.5;
	font-weight: 400;
}

/*All headings*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Black', sans-serif;
	color: #333;
	letter-spacing: -0.01em;
}

/*Individual headings*/

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
	margin-bottom: .8em;
}

h3 {
	font-size: 2em;
	margin-bottom: .8em;
}

h4 {
	font-size: 1.7em;
	margin-bottom: .8em;
}

h5 {
	font-size: 1.3em;
	margin-bottom: .8em;
}

h6 {
	font-size: 1em;
	margin-bottom: -.4em;
	margin-top: 1.4em;
}

/*Paragraph and miscellaneous styles*/

p {
	font-size: 1em;
	margin-bottom: 1.8em;
}

header h1 {
	margin-bottom: 0;
}

header p {
	font-size: 1.4em;
	font-weight: 300;
	margin-top: 1em;
}

blockquote {
	border-left: .2em solid #eee;
	margin-left: 1.8em;
	padding-left: 1.4em;
}

mark {
	padding: 0 .25em;
	color: #51504a;
	background: #faf1cd;
}

small {
	font-size: .8em;
}