@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro');

/*Default browser font size, leave as 16px*/
html {
	font-size: 16px;
}

/*All body copy*/
body {
	font-size: 1.05em; /*Control master font size here*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #666;
	line-height: 1.6;
}

/*All headings*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bitter', serif;
	color: #111;
}

/*Individual headings*/

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.2em;
	margin-bottom: -.1em;
}

h3 {
	font-size: 1.8em;
	margin-bottom: .7em;
}

h4 {
	font-size: 1.4em;
	margin-bottom: -.1em;
}

h5 {
	font-size: 1.2em;
	margin-bottom: -.2em;
}

h6 {
	font-size: 1em;
	margin-bottom: -.2em;
}

/*Paragraph and miscellaneous styles*/

p {
	font-size: 1em;
	margin-bottom: 1.6em;
}

header h1 {
	margin-bottom: .5em;
}

header p {
	font-size: 1.3em;
	font-weight: 300;
}

blockquote {
	border-left: .2em solid #eee;
	margin-left: 1.8em;
	padding-left: 1.4em;
}

mark {
	padding: 0 .25em;
	color: #51504a;
	background: #faf1cd;
}

small {
	font-size: .8em;
}