@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');

/*Default browser font size, leave as 16px*/
html {
	font-size: 16px;
}

/*All body copy*/
body {
	font-size: 1.2em; /*Control master font size here*/
	font-family: 'Roboto', sans-serif;
	color: #444444;
	line-height: 1.7;
	letter-spacing: .02em;
	font-weight: 300;
}

/*All headings*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	color: #111111;
	letter-spacing: 0;
}

/*Individual headings*/

h1 {
	font-size: 2.8em;
	margin-bottom: .3em;
}

h2 {
	font-size: 2.1em;
	margin-bottom: .5em;
}

h3 {
	font-size: 1.8em;
	margin-bottom: .7em;
}

h4 {
	font-size: 1.4em;
	margin-bottom: .9em;
}

h5 {
	font-size: 1.1em;
	margin-bottom: .8em;
}

h6 {
	font-size: .9em;
	margin-bottom: -.3em;
}

/*Paragraph and miscellaneous styles*/

p {
	font-size: 1em;
	margin-bottom: 1.8em;
}

header h1 {
	margin-bottom: 0;
}

header p {
	font-size: 1.1em;
	margin-top: 1.2em;
	font-style: italic;
}

blockquote {
	border-left: .2em solid #444;
	margin-left: 1.8em;
	padding-left: 1.4em;
}

mark {
	padding: 0 .25em;
	color: #51504a;
	background: #faf1cd;
}

small {
	font-size: .8em;
}